#c0 {
  background-color: #dfdfdf;
}

div.norm {
  font: 16px Verdana;
  color: #000000;
  background-color: #eeeeee;
  border-style: none;
  outline-style: solid;
  outline-color: #000000;
  outline-width: 1px;
  cursor: default;
}

label.norm, span.norm, p.norm {
  text-shadow: none;
  font: 16px Verdana;
  color: #000000;
  cursor: default;
  outline-style: none;
  border-style: none;
  text-align: left;
}

label.light, p.light, span.light {
  text-shadow: none;
  color: #222222;
  font-size: 15px;
  cursor: default;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button.norm, input.norm, label.file {
  font: 16px Verdana;
  color: #000000;
  background-color: #eeeeee;
  border-style: none;
  outline-style: solid;
  outline-color: #000000;
  outline-width: 1px;
  cursor: pointer;
}

button.light, input.light {
  font: 16px Verdana;
  color: #222222;
  background-color: #dddddd;
  border-style: none;
  outline-style: solid;
  outline-color: #eeeeee;
  outline-width: 1px;
  cursor: pointer;
}

button.selected, input.selected {
  font: 16px Verdana;
  color: #000000;
  background-color: #d6d6d6;
  border-style: none;
  outline-style: solid;
  outline-color: #000000;
  outline-width: 1px;
  cursor: pointer;
}

input {
  cursor: text;
}

button.norm:hover, input.norm:hover, label.file:hover {
  background-color: #dddddd;
}

button.selected:hover, input.selected:hover {
  background-color: #c6c6c6;
}

button.gray, input.gray {
  color: #505050;
  background-color: #999999;
  outline-color: #333333;
  cursor: default;
}

button.gray:hover, input.gray:hover {
  color: #505050;
  background-color: #999999;
  outline-color: #333333;
  cursor: default;
}

img.mono {
  filter: brightness(1) invert(1);
  position: relative;
}

input.norm[type=range]::-webkit-slider-thumb {
  background-color: #000000;
}

input.norm[type=range]::-moz-range-thumb {
  background-color: #000000;
}

input.vertical[type=range]::-webkit-slider-thumb {
  background-color: #000000;
}

input.vertical[type=range]::-moz-range-thumb {
  background-color: #000000;
}


::-webkit-scrollbar-track {
  background: #d1d1d1;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}